$font-regular: 'Open Sans', sans-serif;
$font-heading: 'Poppins', sans-serif;

$background-color-light: #eee;
$background-color-dark: #000;

$color-grey: #eee;
$color-light: #eee;
$color-white: #fff;
$color-dark: #000;
